<mat-toolbar color="primary">
    <mat-toolbar-row>        
        <a routerLink="/home"><img src="assets/image/cuito.jpg" alt="UCC" class="imgRedonda"></a>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button mat-icon-button (click)="toggleSideBar()">
                        <mat-icon class="botones"><i class="fa fa-bars fa-lg"></i></mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon class="botones"><i class="fa fa-question-circle fa-lg"></i></mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon class="botones"><i class="fa fa-user fa-lg"></i></mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item routerLink="" (click)="logOut()">
                            <i class="fa fa-sign-out fa-sm"></i>
                            Sair
                        </button>
                        <button mat-menu-item>
                            <i class="fa fa-key fa-sm"></i>
                            Trocar senha
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>