table {
    width: 100%;
  }
  mat-radio-group{
    align-items: flex-start !important;
  }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;    
  }
  .imgusers{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2rem;
   }
   .imginfo{
    width: 25rem;
    height: 25rem;
    border-radius: 50rem;

   }