<br><br>
    <form #changepasswordForm="ngForm" (ngSubmit)="changePassword()" class="cardinserir">
        <p>
            <mat-form-field appearance="outline" class="matform">
                <mat-label>Senha Anterior</mat-label>
                <input type="password" matInput name="senhaanterior" #senhaanterior="ngModel" [(ngModel)]="userchangepassword.passwordanterior" required>                
                <small class="errorred" *ngIf="!senhaanterior.valid && senhaanterior.touched">O conteúdo não é válido</small>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline" class="matform">
                <mat-label>Nova Senha</mat-label>
                <input type="password" matInput name="novasenha" #novasenha="ngModel" [(ngModel)]="userchangepassword.password" minlength="6" required>                
                <small class="errorred" *ngIf="!novasenha.valid && novasenha.touched">O conteúdo não é válido</small>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline" class="matform">
                <mat-label>Repetir Nova Senha</mat-label>
                <input type="password" matInput name="rnovasenha" #rnovasenha="ngModel" [(ngModel)]="userchangepassword.reppassword" minlength="6" required>                
                <small class="errorred" *ngIf="!rnovasenha.valid && rnovasenha.touched">O conteúdo não é válido</small>
            </mat-form-field>
        </p>
        <button mat-raised-button color="primary" class="matform" type="submit"
            [disabled]="changepasswordForm.invalid">Inserir</button>
    </form>
