/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;      
 }
 table{
     justify-content: center !important;
     text-align: center !important;
 }
 table th{
    justify-content: center !important;
    text-align: center !important;
}
.mat-sort-header-container{
    justify-content: center !important;
    text-align: center !important;
    padding-left: 1rem;
}
.h1modulos{
    text-align: center !important;
    padding-top: 1rem !important;
    
}
.search{
    width: 100% !important;
    height: 100%;
}
.exportar{
    margin-right: 0.2rem !important;
}
.mat-tab-group {
    margin-bottom: 48px;
  }

.cardinserir{      
    justify-content: center !important;
    align-items: center !important;   
    text-align: center;    
}
.cardedit{
    justify-content: center !important;
    align-items: center !important;   
    text-align: center; 
    width: 92%;
}
.matform{
    width: 30%;
}
.matform2{
    width: 99%;
}
.matformedit{
    width: 95%;
}
.errorred{
    color: red;
}
.afu-attach-pin{
    display: block !important;
    width:  99% !important;   
    margin-top: 15px !important;
}