:host .mat-icon{
    vertical-align: middle;
    margin-right: 10px;
}
:host .profile-card{
    text-align: center;
    padding: 0 20px 20px 20px;
}
:host .profile-card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
:host i{
    margin-right: 10px;
}
:host mat-accordion mat-expansion-panel mat-list mat-list-item a{
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 0.9rem;  
}
