<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h3>{{name}}</h3>
            <h5>{{email}}</h5>
        </div>
        <img src="{{img}}" alt="AvatarProfile">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Páginas</h2>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i class="fa fa-university"></i>Universidade
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list role="list">
                <mat-list-item role="listitem" *ngIf="tipo == '1'"><a mat-list-item routerLinkActive="list-item-active"
                        routerLink="/home/unidade">Unidades Orgânicas</a></mat-list-item>
                <mat-list-item role="listitem"><a mat-list-item routerLinkActive="list-item-active"
                        routerLink="/articles">Articles</a></mat-list-item>
            </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i class="fa fa-film fa-sm"></i>Group Page # 2
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list role="list">
                <mat-list-item role="listitem">Item 21</mat-list-item>
                <mat-list-item role="listitem">Item 22</mat-list-item>
                <mat-list-item role="listitem">Item 23</mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>


    <mat-divider></mat-divider>
    <h2 matSubheader>Usuários</h2>
    <mat-list role="list" >
        <mat-list-item role="listitem" *ngIf="tipo == '1'">
            <i class="fa fa-user fa-sm"></i>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/usuarios">
                 Gestão
            </a>
        </mat-list-item>
        <mat-list-item role="listitem" *ngIf="tipo == '1'">
            <i class="fa fa-user-circle fa-sm"></i>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
                Professores
            </a>
        </mat-list-item> 
        <mat-list-item role="listitem"  >
            <i class="fa fa-sign-out fa-sm"></i>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/" (click)="logOut()">
                Sair
            </a>
        </mat-list-item> 
        <mat-list-item role="listitem">
            <i class="fa fa-key fa-sm"></i>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
                Trocar senha
            </a>
        </mat-list-item>        
    </mat-list>
</mat-nav-list>