<div layout="row" fxLayoutAlign="center center" class="login-wrapper" style="background-image: url(assets/image/fondologin.jpg);">
    <div flex="50">
        <mat-card class="box">                 
                <img mat-card-image src="assets/image/cuito.jpg" alt="UCC" style="padding: 0px;margin: 0px;max-height: 300px;">
                <mat-card-title style="font-size: 1.1rem;padding: 0px;margin: 0px;text-align: center;">Departamento de Assuntos Acadêmicos</mat-card-title><br>
            <form class="example-form" #userloginForm="ngForm" (ngSubmit)="loginUser()">
                <mat-card-content>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Nome de usuário" name="username" #username="ngModel" [(ngModel)]="user.username" required>
                        <small class="errorred" *ngIf="!username.valid && username.touched">O conteúdo não é válido</small>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input type="password" matInput placeholder="Senha" name="password" #password="ngModel" [(ngModel)]="user.password" required>
                        <small class="errorred" *ngIf="!password.valid && password.touched">O conteúdo não é válido</small>
                    </mat-form-field>
                </mat-card-content>
                <button mat-raised-button color="primary" class="btn-block" [disabled]="userloginForm.invalid">Aceitar</button>
            </form>
        </mat-card>
    </div>
</div>